// Main colors
$green: #79A48A;
$green-lighter: #D7D5AF;
$gray: #343737;
$yellow: #E7C946;
$bkgColor: #192226;
// $red: #D15243;

// Color for the hover effect in the main page
$yellowHover: #49433E;
